<style>
    form{
        margin-left: 10px;
    }
</style>

<h1>Datos Personales</h1>

<form>

    <div class="row">
        <div class="col-sm-6">
            <div class="mb-3 mt-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre">
            </div>
        
            <div class="mb-3 mt-3">
                <label for="apellido1" class="form-label">Primer apellido:</label>
                <input type="text" class="form-control" id="apellido1" placeholder="Primer apellido" name="apellido1">
            </div>
        
            <div class="mb-3 mt-3">
                <label for="apellido2" class="form-label">Segundo apellido:</label>
                <input type="text" class="form-control" id="apellido2" placeholder="Segundo apellido" name="apellido2">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Email" name="email">
            </div>
        
            <div class="mb-3 mt-3">
                <label for="dni" class="form-label">Dni:</label>
                <input type="text" class="form-control" id="dni" placeholder="Dni" name="dni">
            </div>
        
            <div class="mb-3 mt-3">
                <label for="tlf" class="form-label">Teléfono:</label>
                <input type="number" class="form-control" id="tlf" placeholder="Telefono" name="tlf">
            </div>
        
        </div>
    </div>
    
    <button onclick="">Confirmar datos</button>

</form> 